body {
    font-family: Arial;
    margin-top: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    margin-left: 40px;
    background-color: #EEEEEE;
}

.main {
    background-color: #19628A;
    margin-top: -40px;
    margin-left: -40px;
    margin-right: -40px;
    margin-bottom: 0px;
    color: #cccccc;
    font-size: 15px;
    line-height: 1.7;
    word-spacing: 6px;
}

.blue {
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 60px;
    background-color: #19628A;
}

h1 {
    margin-top: 40px;
    margin-left: 0px;
    margin-bottom: -15px;
    font-size: 48px;
    font-weight: bold;
    color: white
}

.lorem {
    margin-top: 40px;
    margin-left: 80px;
    margin-right: 40px;
}

.img-www {
    width: 216px; height: 216px;
    float:right; 
    background-color: #19628A;
    margin: 40px -5px 30px 0px;
}

.button {
    background-color: #FD862F;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 2px;
    cursor: pointer;
    font-weight: bold;
}

.buttonshort {
    padding: 11px 32px;
}


.middle {
    background-color: #EEEEEE

}

.buttonlong {
    padding: 15px 80px;
    width: 50%;
}
h4 {
    color: black;
}

.border {
    border-style: solid;
    border-width: 1px;
    border-color: #AAAAAA;
    color: #333333;
    padding: 15px;
    margin: 3px;
}



